@import "tailwindcss";

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 10px;
  border: none;
  background:var(--color-green-700);
  padding: 5px 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: var(--color-green-600);
}

#product-form{
background-color: #fafaf0;
}
h1{
  font-size: 1.5rem;
  font-weight: 600;
}